.navone{
    height: 120px;
    background-color: rgb(255, 255, 255);
}

.navtwo{
    height: 50px;
    background-color: rgb(0, 0, 0);
}

.navtwo_link{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-align: center;
}

.navtwo_link:hover{
    color: rgb(229, 204, 204);
}

.navtwo_link::after{
            content: "|";
            margin-left: 15px;
        }


.nav_icon{
    width: 26px;
    height: 26px;
    margin-left: 10px;
}

.nav_logos{
    display: flex;
    justify-content: flex-end;
}

.search_input{
    width: 500px;
    background-color: rgb(241, 239, 239);
    border-radius: 20px;
}